/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


nav {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

nav ul li {
  list-style: none;
  display: inline-block;
  border: 2px solid red;
  padding: 0px 5px;
  margin: 0px 8px 8px 0;
  text-align: center
}

nav ul li:hover {
  background-color: red;
}

 h1  {
   border: 5px solid black;
   text-align: center;
   font-family: 'Inconsolata', monospace;
   background: #E8E57A
 }

.showpage {
  font-family: 'Inconsolata', monospace;
}

.newproductbutton {
  border: 2px solid black;
  display: block;
  background: #E8E57A;
  margin: 10px 0;
}

.eachproduct {
  border: 2px solid black;
  margin: 2px 0;
  background: #B3B8B6;
}
